@import "normalize.css";
@import "font-awesome.css";
@font-face {
  font-family: Auraka;
  src: url('../webfonts/Auraka.ttf');
}
body,
html {
  font-family: Auraka, "PingFang TC", "Microsoft JhengHei", Arial, Helvetica, sans-serif;
  font-size: 12px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
input,
textarea,
select {
  padding: 0;
  border: none;
  background-color: transparent;
  outline: 0;
  margin: 0;
  font-family: inherit;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-appearance: none;
}
input:focus,
textarea:focus,
select:focus {
  -webkit-appearance: none;
}
input[type="button"] {
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: 0;
  margin: 0;
  font-family: inherit;
}
*:focus {
  outline: 0;
}
.wrapper {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  transform-origin: left bottom;
  transform: scale(2);
  transition: all 0.2s cubic-bezier(1, 0, 0, 1);
}
.wrapper.start {
  transform: scale(1);
}
.wrapper.gray {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.stage {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}
.stage__bg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/bg.png);
  background-repeat: repeat-x;
  background-size: auto 100%;
}
.stage__buildings {
  display: block;
  position: absolute;
  left: 0;
  bottom: -3%;
  width: 3840px;
  height: 720px;
  background-image: url(../images/buildings.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 0;
}
.stage__ground {
  display: block;
  width: 100%;
  height: 136px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url(../images/ground.png);
  background-repeat: repeat-x;
  background-size: auto 100%;
}
.milestones {
  display: block;
  position: absolute;
  left: 0;
  margin-left: 50vw;
  bottom: 90px;
  width: 8400px;
}
.milestones__live {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 60vh;
  min-height: 480px;
  width: 800px;
}
.milestones__obj {
  display: block;
  position: absolute;
  bottom: 0;
}
.milestones__obj#taoyuan {
  left: 157px;
}
.milestones__obj#taichung {
  left: 300px;
  bottom: -2px;
  z-index: 3;
}
.milestones__obj#tainan {
  left: 740px;
  bottom: 2px;
}
.milestones__obj#taipei {
  left: 1180px;
}
.milestones__sccd {
  display: block;
  position: absolute;
  bottom: 0;
  left: 2154px;
  height: 60vh;
  min-height: 480px;
  width: 1366px;
}
.milestones__police {
  display: block;
  position: absolute;
  bottom: 0;
  left: 3779px;
  height: 60vh;
  min-height: 480px;
  width: 1790px;
}
.milestones__iii {
  display: block;
  position: absolute;
  bottom: 0;
  left: 3746px;
  height: 60vh;
  min-height: 480px;
  width: 1060px;
}
.milestones__nd {
  display: block;
  position: absolute;
  bottom: 0;
  left: 5064px;
  height: 60vh;
  min-height: 480px;
  width: 876px;
}
.me {
  display: block;
  position: absolute;
  left: 256px;
  bottom: 50px;
  width: 128px;
  height: 128px;
  z-index: 99;
}
.me__body {
  display: block;
  width: 128px;
  height: 128px;
  background-image: url(../images/me.png);
  background-repeat: no-repeat;
  background-size: 1024px 128px;
}
.me__name {
  display: block;
  position: absolute;
  bottom: 90%;
  left: 60%;
  background-image: url(../images/name.png);
  width: 190px;
  height: 84px;
  background-size: 100% 100%;
  transition: all 0.3s;
}
.me__name.start {
  opacity: 0;
}
.work {
  display: block;
  position: absolute;
  z-index: 10;
  transform: scale(0.5);
  opacity: 0.9;
  transition: all 0.3s;
}
.work__collsion {
  left: 50%;
  top: 0;
  margin-left: -50px;
  position: absolute;
  width: 100px;
  height: 2000px;
  z-index: 1;
  display: block;
}
.work__video {
  position: relative;
  z-index: 2;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 2px 0px 0 0 #333333, -2px 0px 0 0 #333333, 0px 2px 0 0 #333333, 0px -2px 0 0 #333333;
  width: 640px;
  height: 360px;
}
.work__name {
  position: absolute;
  z-index: 2;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 2px 0px 0 0 #333333, -2px 0px 0 0 #333333, 0px 2px 0 0 #333333, 0px -2px 0 0 #333333;
  font-size: 28px;
  font-weight: bold;
  left: -10%;
  bottom: -3%;
  margin: 0;
  color: #333333;
}
.work__desc {
  position: relative;
  padding: 20px;
  line-height: 2em;
  left: 0%;
  bottom: 0%;
}
.work .link {
  color: #333333;
  text-decoration: underline;
  font-style: normal;
}
.work__tags {
  position: absolute;
  z-index: 2;
  padding: 10px;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 2px 0px 0 0 #333333, -2px 0px 0 0 #333333, 0px 2px 0 0 #333333, 0px -2px 0 0 #333333;
  font-size: 20px;
  font-weight: bold;
  right: -10%;
  bottom: -20px;
  color: #333333;
}
.work__awards {
  position: absolute;
  z-index: 2;
  padding: 10px;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 2px 0px 0 0 #333333, -2px 0px 0 0 #333333, 0px 2px 0 0 #333333, 0px -2px 0 0 #333333;
  font-size: 20px;
  font-weight: bold;
  right: -10%;
  bottom: -72px;
  color: #333333;
}
.work__awards .icon {
  position: absolute;
  left: -20px;
  top: -10px;
}
.work.on {
  transform: scale(1);
  z-index: 99;
  opacity: 1;
  transform-origin: center top;
}
.work--base {
  bottom: 60%;
  left: -30%;
}
.work--base .work__content {
  width: 640px;
}
.work--ar {
  bottom: 35%;
  left: -10%;
  transform: scale(0.3);
}
.work--chess {
  bottom: 43%;
  left: 18%;
  transform: scale(0.4);
}
.work--ufo {
  bottom: 35%;
  left: 40%;
}
.work--board {
  bottom: 28%;
  left: 75%;
}
.work--gyrigym {
  bottom: 25%;
  left: 45%;
}
.work--nd {
  bottom: 50%;
  left: 50%;
  width: 640px;
}
.work--nd .icon {
  display: block;
  width: 40;
}
.work__sites {
  display: block;
  position: relative;
  line-height: 2em;
}
.work__sites a {
  text-decoration: underline;
  position: relative;
}
.work__sites .icon {
  display: inline-block;
  width: 1em;
  background-color: white;
  position: absolute;
  left: -1.2em;
  top: -0.5em;
  border: 2px solid #333;
}
@media (max-width: 1400px) {
}
@media (max-width: 780px) {
}
